METEO_SERVER_IMAGE=meteo-server:master
METEO_SERVER_PORT=9996

STATION_ID=myid
STATION_PASSWORD=mypass
LAT=
LON=

INFLUXDB_ADMIN_TOKEN=apiv3_replace_me
INFLUXDB_IMAGE=influxdb:3.9.2-core
INFLUXDB_URL=http://meteo-db:8181
INFLUXDB_DATABASE=meteo
INFLUXDB_PORT=8181
INFLUXDB_DATA_DIR=./data
INFLUXDB_UID=1000
INFLUXDB_GID=1000
INFLUXDB_NODE_IDENTIFIER_PREFIX=meteo

OPEN_METEO_FORECAST_URL=https://api.open-meteo.com/v1/forecast
OPEN_METEO_AIR_QUALITY_URL=https://air-quality-api.open-meteo.com/v1/air-quality
CHMI_WARNINGS_URL=https://feeds.meteoalarm.org/feeds/meteoalarm-legacy-atom-czechia
